::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccc;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/*.App-header {
  background: linear-gradient(#c2c0bc, transparent);
  height: auto;
  padding: 20px;
  color: white;
}*/

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  background:
    -webkit-linear-gradient(315deg, hsla(196.76, 97.69%, 46.38%, 1) 0%, hsla(196.76, 97.69%, 46.38%, 0) 70%),
    -webkit-linear-gradient(65deg, hsla(176.47, 93.42%, 45.23%, 1) 10%, hsla(176.47, 93.42%, 45.23%, 0) 80%),
    -webkit-linear-gradient(135deg, hsla(34.48, 93.94%, 45.14%, 1) 15%, hsla(34.48, 93.94%, 45.14%, 0) 80%),
    -webkit-linear-gradient(205deg, hsla(111.18, 91.18%, 46.48%, 1) 100%, hsla(111.18, 91.18%, 46.48%, 0) 70%);
  background:
    linear-gradient(135deg, hsla(196.76, 97.69%, 46.38%, 1) 0%, hsla(196.76, 97.69%, 46.38%, 0) 70%),
    linear-gradient(25deg, hsla(176.47, 93.42%, 45.23%, 1) 10%, hsla(176.47, 93.42%, 45.23%, 0) 80%),
    linear-gradient(315deg, hsla(34.48, 93.94%, 45.14%, 1) 15%, hsla(34.48, 93.94%, 45.14%, 0) 80%),
    linear-gradient(245deg, hsla(111.18, 91.18%, 46.48%, 1) 100%, hsla(111.18, 91.18%, 46.48%, 0) 70%);
}

.recipe_container {
  margin: 30px auto;
  background-color: rgba(255, 255, 255, .5);
  padding: 20px;
}

.recipe_img {
  max-height: 175px;
}

.card-deck Link, 
.card-deck a {
  text-decoration: none;

}

input.input-search {
  color: rgba(1, 1, 1, .5) !important;
}

.card {
  transition: all .5s ease; 
  opacity: .85;
}
.card:hover {
  transform: scale(1.035);
  opacity: .9;
}

input:-webkit-autofill {
  background-color: transparent !important; 
}

hr {
  border-color: rgba(1, 1, 1, .2) !important;
}

.bottom-navigation {
  background: rgba(1, 1, 1, .15) !important;
}